In [1]:
s="madhu"*2
print(s)

madhumadhu

In [4]:
s1="python"+" "+"guru"
print(s1)

python guru

In [1]:
s="python learning"
for i in range(len(s)):
    print(s)

python learning
python learning
python learning
python learning
python learning
python learning
python learning
python learning
python learning
python learning
python learning
python learning
python learning
python learning
python learning

In [4]:
s="virat kohli is a greatest batsman in the world"
s1=s.split(" ")
for x in s1:
    
    print(x[::-1])

tariv
ilhok
si
a
tsetaerg
namstab
ni
eht
dlrow

In [15]:
l=[1,4,5,8,7,945,65,4,4]
target=12
for i in range(len(l)):
    for j in range(len(l)):
        if l[i]+l[j]==target:
            print([l[i],l[j]],end=" ")

[4, 8] [5, 7] [8, 4] [8, 4] [8, 4] [7, 5] [4, 8] [4, 8]

In [12]:
l=[1,4,5,8,7,945,65,4]
target=12
s=set(l)
for x in l:
    if target-x in s:
        print(target-x,x)
        s.remove(target-x)
        s.remove(x)

8 4
7 5

In [ ]:
l=[1,4,5,8,7,945,65,4,4]

In [21]:
age=20
name="madhu"
print(f"my name is {name} and my age is {age}")

my name is madhu and my age is 20

In [40]:
s="pop up"
s1=list(s)
s1.remove(" ")
s2=sorted(s1)

from collections import Counter
ctr=Counter(s2)
for x,y in ctr.items():
    print(x,":",y)

o : 1
p : 3
u : 1

In [6]:
s="madhu is a good boy"
s1=s.split(" ")
for x in s1:
    print(x[::-1],end=" ")

uhdam si a doog yob

In [15]:
s="raju"
s1=" "
for x in s:
    s1=x+s1
print(s1)

ujar

In [23]:
def fact(n):
    if n==1 or n==0:
        return 1
    else:
        return n*fact(n-1)
n =int(input())
for x in range(1,n+1):
    print(fact(x),end="," )

 5

1,2,6,24,120,

In [27]:
def prime(n):
    c=0
    for x in range(1,n+1):
        if n%x==0:
            c+=1
    if c==2:
        print("prime")
    else:
        print("not a prime")
n=int(input())
prime(n)

 4

not a prime

In [44]:
def prime(n):
    rt=int(n**0.5)
    for x in range(2,rt+1):
        if n%x==0:
            print("not a prime")
            break
    else:
        print("prime")


n=int(input())
prime(n)

 588

not a prime

In [46]:
n=[int(x) for x in input().split(",")]
print(max(n))

 1,444,555,74,2364,4587412,12,456,75

4587412

In [54]:
x=[100,44,55,662,875,55,5]
mx=x[0]
for i in range(1,len(x)):
    if x[i]>mx:
        mx=x[i]

875

In [58]:
def avg(x):
    l=len(x)
    s=sorted(x)
    mid=l//2
    if l%2!=0:
        return s[mid]
    else:
        return (s[mid]+s[mid-1])/2
        
    
x=[int(x) for x in input().split(",")]
print(avg(x))

 1,2,3,4,5,6

3.5

In [59]:
def duplicates(x):
    s=set(x)
    return list(s)
x=[int(x) for x in input().split(",")]
print(duplicates(x))

 1,4,2,5,4,3,4,45

[1, 2, 3, 4, 5, 45]

In [62]:
def duplicates(x):
    l=[]
    for i in x:
        if i not in l:
            l.append(i)
    return l
 
x=[int(x) for x in input().split(",")]
print(duplicates(x))

 1,4,5,6,4,5,6

[1, 4, 5, 6]

In [65]:
n = int(input())
c=0
for x in range(1,n+1):
    if n%x==0:
        c+=1
        print("multiples:",x)
print("count:",c)

 15

multiples: 1
multiples: 3
multiples: 5
multiples: 15
count: 4

In [66]:
limit = 1000

def is_prime(n):
    for i in range(2, n):
        if n%i == 0:
            return False
    return True

sum = 0
for i in range(2, int(limit+1)):
    if is_prime(i):
        sum = sum + i
        count += 1
print(sum)

NameError: name 'count' is not defined

In [71]:
limit = 1000

def is_prime(n):
    for i in range(2, n):
        if n%i == 0:
            return False
    return True

sum = 0
count = 0
num = 2
while count != limit:
    if is_prime(num):
        sum += num
        count += 1
    num += 1

print(sum)

3682913

In [77]:
limit=2
def prime(n):
    rt=int(n**0.5)
    for x in range(2,rt+1):
        if n%x==0:
            return False
    return True
sum1=0
count=0
ex=2
while count!=limit:
    if prime(ex):
       sum1+=ex
       count+=1
    ex+=1
print(sum1)

5

In [81]:
n=25
x=[i for i in range(n) if i%2==0]
print(x)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [101]:
x="madhu is a good boy"
voel=["a","e","i","o","u"]
voel=[ex for ex in x if ex not in voel]
   
r="".join(voel)
print(r)

mdh s  gd by

In [96]:
def rem_vowel(string): 
    vowels = ['a','e','i','o','u'] 
    result = [letter for letter in string if letter.lower() not in vowels] 
    result = ''.join(result) 
    print(result) 
  
# Driver program 
string = "GeeksforGeeks - A Computer Science Portal for Geeks"
rem_vowel(string) 
string = "Loving Python LOL"
rem_vowel(string)

GksfrGks -  Cmptr Scnc Prtl fr Gks
Lvng Pythn LL

In [103]:
s=input()
if s==s[::-1]:
    print("palindrome")
else:
    print("no")

 mom

palindrome

In [106]:
s="india is my country"
s1=s.split(" ")
for x in s1:
    result=x.capitalize()
    print(result,end=" ")

India Is My Country

In [109]:
arr = [0, -1, 2, 3, 1]
target = 5
s=set(arr)
for x in arr:
    if target-x in s:
        print(target-x,x)
        s.remove(target-x)
        s.remove(x)

3 2

In [114]:
def fib(n):
    if n==1 or n==0:
        return n
    else:
        return fib(n-1)+fib(n-2)
n=int(input())
for x in range(0,n+1):
    print(fib(x),end=" ")

 5

0 1 1 2 3 5

In [8]:
def average(x,y,z):
    s=x+y+z
    avg=s/3
    return s,int(avg)
    

x=int(input())
y=int(input())
z=int(input())
s,avg=average(x,y,z)
print(f"sum:{s},avg:{avg}")

 4
 5
 6

sum:15,avg:5

In [11]:
s="india is 404MY cOunTRY@Telangana#"

l=u=d=sp=""
for x in s:
    if x.islower():
        l+=x
    elif x.isupper():
        u+=x
    elif x.isdigit():
        d+=x
    else:
        sp+=x
print(l)
print(u)
print(sp)
print(d)

indiaiscunelangana
MYOTRYT
   @#
404

In [13]:
n=int(input())
if n%3==0:
    print("3 factor")
if n%7==0:
    print("7 factor")
if n%11==0:
    print("11 factor")

 33

3 factor
11 factor

In [15]:
n = int(input())
if n%2==0:
    print(n**2)
else:
    if n%5==0:
        print(n**3)
    else:
        print(n*10)

 17

170

In [16]:
n = int(input())
for i in range(1,n+1):
    if i%10==3:
        print(i)

 50

3
13
23
33
43

In [17]:
n = int(input())
i=1
while i<=50:
    if i%10==3:
        print(i)
    i+=1

 50

3
13
23
33
43

In [19]:
n = int(input())
i=1
c=0
while i<=n:
    if n%i==0:
        print(i)
        c+=1
    i+=1
print(c)

 50

1
2
5
10
25
50
6

In [20]:
n = int(input())
c=0
for i in range(1,n+1):
    if n%i==0:
        print(i)
        c+=1
print(c)

 50

1
2
5
10
25
50
6

In [25]:
n=int(input())
i=1
c=0
while i<=n:
    if n%i==0:
        c+=1
    i+=1
if c==2:
    print("prime")
else:
    print("no")

 5

prime

In [37]:
n = int(input())
rt=int(n**0.5)
c=0
i=2
while i<=rt:
    if n%i==0:
        c+=1
    i+=1
if c==0:
    print("prime")
else:
    print("no")

 9

no

In [45]:
n = int(input())
rt=int(n**0.5)
c=0
for i in range(2,rt+1):
    if n%i==0:
        print("no")
        break
else:
    print("prime")

 2

prime

In [47]:
l=[4,5,6,2]
print(l[-1])

2

In [49]:
l=[1,4,5]
x,y,z=l
print(f"x:{x},y:{y},z:{z}")

x:1,y:4,z:5

In [52]:
l=[4,5,7,8,45,6]
for i in range(1,len(l)):
    print(l[i])

5
7
8
45
6

In [55]:
l=["apple",54,6,64,"madhu"]
for x,y in enumerate(l,start=0):
    print(x,y)

0 apple
1 54
2 6
3 64
4 madhu

In [58]:
l = [3, 4, 5, 6, 1, 9, 10, 8, 5, 2, 3, 5, 2, 1, 5]
rev=5
l1=[]
for x,y in enumerate(l):
    if y==rev:
        l1.append(x)
l1.reverse()
for x in l1:
    l.pop(x)
print(l)

[3, 4, 6, 1, 9, 10, 8, 2, 3, 2, 1]

In [59]:
l=[1,45,2,3,454,6,7]
l.sort(reverse=True)
l

[454, 45, 7, 6, 3, 2, 1]

In [60]:
l=[1,45,2,3,454,6,7]
print(sorted(l,reverse=True))

[454, 45, 7, 6, 3, 2, 1]

In [63]:
employee = [(1234, 'John', 'Physics', 23000),
(1235, 'Christen', 'Maths', 13000),
(1236, 'Samantha', 'Maths', 40000),
(1237, 'Amanda', 'Chemistry', 25000),
(1238, 'Vicky', 'Maths', 10000),
]
s=sorted(employee,key=lambda x:x[0],reverse=True)
for x in s:
    print(x)

(1238, 'Vicky', 'Maths', 10000)
(1237, 'Amanda', 'Chemistry', 25000)
(1236, 'Samantha', 'Maths', 40000)
(1235, 'Christen', 'Maths', 13000)
(1234, 'John', 'Physics', 23000)

In [69]:
t=1,
print(type(t))

<class 'tuple'>

In [74]:
contacts = [('John', 'john.deer@gmail.com'),
            ('Alex', 'alex.barner@yahoo.com'),
            ('Brad', 'brad.cooper@hotmail.com'),
            ('Cindy', 'cindy.barner@hotmail.com'),
            ('Matt', 'matt.damon@gmail.com'),
            ('George', 'george.cloony@yahoo.com'),
            ('Mec', 'mc.barner@hotmail.com')]
for x,y in contacts:
    if "barner" in y:
        print(x," ",y)

Alex   alex.barner@yahoo.com
Cindy   cindy.barner@hotmail.com
Mec   mc.barner@hotmail.com

In [78]:
s={"ma":5}
print(type(s))

<class 'dict'>

In [79]:
s={1,4,5,4,6,4,2}
s.remove(4)
s

{1, 2, 5, 6}

In [83]:
s="india ia my country"
s1=set(s)
s1.discard(" ")
s1

{'a', 'c', 'd', 'i', 'm', 'n', 'o', 'r', 't', 'u', 'y'}

In [89]:
s={1,4,5,6}
s1={4,8,9,1}
res=s&(s1)
res

{1, 4}

In [91]:
t=(30,)+(50,)
t

(30, 50)

In [92]:
250

250

In [95]:
250*(5/100)
250-12.5

237.5

In [100]:
d={"madhu":45000,"raju":54000,"himaja":80000}
for x in d.items():
    print(x)

('madhu', 45000)
('raju', 54000)
('himaja', 80000)

In [103]:
from collections import Counter
words = ["Apple", "Orange", "Apple", "Banana", "Peach", "Banana", "Apple", "Peach", "Apple", "Banana"]
ctr=Counter(words)
for x,y in ctr.items():
    print(x,y)

Apple 4
Orange 1
Banana 3
Peach 2

In [104]:
words = ["Apple", "Orange", "Apple", "Banana", "Peach", "Banana", "Apple", "Peach", "Apple", "Banana"]
d={}
for x in words:
    if x not in d:
        d[x]=1
    else:
        d[x]+=1
print(d)

{'Apple': 4, 'Orange': 1, 'Banana': 3, 'Peach': 2}

In [105]:
from collections import Counter
words = ["Apple", "Orange", "Apple", "Banana", "Peach", "Banana", "Apple", "Peach", "Apple", "Banana"]
ctr=Counter(words)
res=max(ctr.items(),key=lambda x:x[1])
print(res)

('Apple', 4)

In [108]:
#map(fun,iterable)
l=[4,7,2,665,4,5855,945,4520]
f=lambda x:x%2
re=map(f,l)
for i in re:
    print(i)

0
1
0
1
0
1
1
0

In [110]:
l=[4,7,2,665,4,5855,945,4520]
f=lambda x:x%2==0
re=filter(f,l)
for i in re:
    print(i)

4
2
4
4520

In [111]:
from functools import reduce
l=[4,7,2,665,4,5855,945,4520]
f=lambda x,y:x+y
print(reduce(f,l))

12002

In [3]:
import calendar
year=int(input())
month=int(input())
s=calendar.month(year,month)
print(s)

 2025
 05

      May 2025
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

In [3]:
x=22
y=45
print(f"sum:{x},avg:{y}")

sum:22,avg:45

In [2]:
l=[3,2,4,44,6]
i=0
while i<len(l)-1:
    print(l[i])
    i+=1

3
2
4
44

In [3]:
l=[34,25,768,997,54,7628,88]
max1=l[0]
for i in range(len(l)):
    
    if max1<l[i]:
        max1=l[i]
print(max1)

7628

In [4]:
l=[34,25,768,997,54,7628,88]
min1=l[0]
for i in range(len(l)):
    if min1>l[i]:
        min1=l[i]
print(min1)

25

In [7]:
l=["apple",4,7,46,"banana"]
for x,y in enumerate(l):
    print("index:",x,"items:",y)

index: 0 items: apple
index: 1 items: 4
index: 2 items: 7
index: 3 items: 46
index: 4 items: banana

In [8]:
l = [3, 4, 5, 6, 1, 9, 10, 8, 5, 2, 3, 5, 2, 1, 5]
rem=5
l1=[]
for x,y in enumerate(l):
    if y==rem:
        l1.append(x)
l1.reverse()
for x in l1:
    l.pop(x)
print(l)

[3, 4, 6, 1, 9, 10, 8, 2, 3, 2, 1]

In [12]:
l = [3, 4, 5, 6, 1, 9, 10, 8, 5, 2, 3, 5, 2, 1, 5]
l1=[]
for x in l:
    if x not in l1:
        l1.append(x)
print(sorted(l1))

[1, 2, 3, 4, 5, 6, 8, 9, 10]

In [11]:
l = [3, 4, 5, 6, 1, 9, 10, 8, 5, 2, 3, 5, 2, 1, 5]
s=list(set(l))
print(s)

[1, 2, 3, 4, 5, 6, 8, 9, 10]

In [1]:
# Can you write a Python program to find the second largest number in a list of integers?
def second_largest(list1):
    s=sorted(list1,reverse=True)
    return s[1]

list1=[int(x) for x in input().split(",")]

print(second_largest(list1))

 2,3,555,66,4444,777,88,90,100

777

In [7]:
#Write a Python function that takes an alphanumeric string and returns the sum of all numeric parts.
 # (e.g., input: "abc12def3", output: 15)

def alphanumeric(s):
    total = 0
    current_number = ''

    for char in s:
        if char.isdigit():
            current_number += char  
        else:
            if current_number:
                total += int(current_number)  
                current_number = ''  

  
    if current_number:
        total += int(current_number)

    return total


input_str = "abc12def3"
print(alphanumeric(input_str))

15

In [9]:
#Write a Python function that takes an alphanumeric string and returns the sum of all numeric parts.
 # (e.g., input: "abc12def3", output: 15)

def alnumeric(str1):
    total=0
    char=""
    for x in str1:
        if x.isdigit():
            char+=x
        else:
            if char:
                total+=int(char)
                char=""
    if char:
        total+=int(char)
        return total

str1=input()
print(alnumeric(str1))

 546shgf9

555

In [10]:
l=[1,4,7,1,3,99,41]
max1=l[0]
for x in l:
    if max1<x:
        max1=x
print(max1)

99

In [11]:
l=[1,2,4,5,78]
for x in l:
    print(x)

1
2
4
5
78

In [14]:
def alnumeric(string):
    alpha=numbers=sp=""
    
    for x in string:
        if x.isalpha():
            alpha+=x
        elif x.isdigit():
            numbers+=x
        else:
            sp+=x
    print(alpha)
    print(numbers)
    print(sp)
string=input()
(alnumeric(string))

 jhhdf7644@&^%$

jhhdf
7644
@&^%$

In [23]:
n = int(input())
c=0
for i in range(1,n+1):
    if n%i==0:
        c+=1
if c==2:
    print("prime")
else:
    print("not a prime")

 5

prime

In [31]:
n = int(input())
rt=int(n**(0.5))

for i in range(2,rt+1):
    if n%i==0:
        print("not a prime")
        break
else:
    print("prime")

 1245

not a prime

In [36]:
m = int(input())
n = int(input())
l=[]
for i in range(m,n+1):
    if i>1:
        for x in range(2,i):
            if i%x==0:
                break
        else:
            l.append(i)
print(l)
print(len(l))

 2
 7

[2, 3, 5, 7]
4

In [41]:
s=[1,4,[5,6]]
print(s.size())

AttributeError: 'list' object has no attribute 'size'

In [45]:
x=int(input("enter the value of a:"))
y = int(input("enter the value of b:"))
print("sum of the number:",x+y)

enter the value of a: 45
enter the value of b: 78

sum of the number: 123

In [46]:
x=int(input())
y =int(input())
print(f"sum:{x+y}")

 45
 65

sum:110

In [49]:
n = int(input())
s=1
for i in range(1,n+1):
    s*=i
print(s)

 10

3628800

In [50]:
s="india is my COUntry All indiANS"
s1=s.lower()
print(s1.count("a")+s1.count("e")+s1.count("i")+s1.count("o")+s1.count("u"))

10

In [54]:
def prime(n):
    if n<=1:
        print("not prime")
    for i in range(2,int(n**0.5)+1):
        if n%i==0:
            print("not a prime")
            break
    else:
        print("prime")


n = int(input())
prime(n)

 1

not prime
prime

In [60]:
n = int(input())
rt=int(n**(0.5))
c=0

for i in range(2,rt+1):
    if n%i==0:
       
        c+=1
if c==0:
    print("prime")
else:
    print("not a prime")

 1

prime

In [61]:
n = int(input())
for i in range(1,n+1):
    print("*"*i)

 5

*
**
***
****
*****

In [68]:
import array
arr=array.array("f",[4,5,6,7])
print(type(arr))
print(arr)

<class 'array.array'>
array('f', [4.0, 5.0, 6.0, 7.0])

In [71]:
import numpy as np
ans=np.array(["i",1,4,5,67])
print(type(ans))

<class 'numpy.ndarray'>

In [75]:
l1=(1,4,5,6,7)
print(l1[5])

IndexError: tuple index out of range

In [87]:
l=[1,4,5,6]
del l[0]
l.remove(6)
l.pop()
print(l)

[4]

In [91]:
l=["apple",4,55,78,26,45]
for x,y in enumerate(l,start=0):
    print(x,y)

0 apple
1 4
2 55
3 78
4 26
5 45

In [94]:
employees = [
            (1239, 'John', 23000, 25),
            (1235, 'Samantha', 13000, 21),
            (1238, 'Amanda', 45000, 30),
            (1237, 'Alex', 57000, 31),
            (1236, 'Vicky', 40000, 24)
            ]
s=sorted(employees,key=lambda x:x[2],reverse=True)
for x in s:
    print(x)

(1237, 'Alex', 57000, 31)
(1238, 'Amanda', 45000, 30)
(1236, 'Vicky', 40000, 24)
(1239, 'John', 23000, 25)
(1235, 'Samantha', 13000, 21)

In [103]:
contacts = [('John', 'john.deer@gmail.com'),
        ('Alex', 'alex.barner@yahoo.com'),
        ('Brad', 'brad.cooper@hotmail.com'),
        ('Cindy', 'cindy.barner@hotmail.com'),
        ('Matt', 'matt.damon@gmail.com'),
        ('George', 'george.cloony@yahoo.com'),
        ('Mec', 'mc.barner@hotmail.com')
        ]
for x,y in contacts:
    if "barner" in y:
        print(x,y)

Alex alex.barner@yahoo.com
Cindy cindy.barner@hotmail.com
Mec mc.barner@hotmail.com

In [11]:
s={1,4,6,7}
s.discard(67)
s

{1, 4, 6, 7}

In [8]:
fs=frozenset([1,4,33,23])
fs.add(65)
print(fs)

AttributeError: 'frozenset' object has no attribute 'add'

In [17]:
s1={1,4,2,344,56,77,88}
s2={1,2,45,677,88,679}
print(s1|(s2))
print(s1-s2)
print(s1&s2)

{1, 2, 4, 677, 679, 77, 45, 344, 56, 88}
{344, 56, 4, 77}
{88, 1, 2}

In [19]:
day1 = [1122, 1234, 1256, 1389, 1122, 1234, 1389, 1122, 1389, 1234]
day2 = [1134, 1256, 1399, 1455, 1399, 1256, 1134, 1455, 1256, 1134]
day3 = [1256, 1455, 1122, 1899, 1256, 1122, 1455, 1899, 1455, 1122]

s1=set(day1)
s2=set(day2)
s3=set(day3)
print(s1&s3)

{1256, 1122}

In [34]:
s={{444,66}}
print(s)

TypeError: unhashable type: 'set'

In [38]:
l = [4, 3, 2, 6, 8, 9, 7, 11, 1]
n = 10
for i in range(0,len(l)):
    for j in range(len(l)):
        if l[i]+l[j]==n:
            print([l[i],l[j]])

[4, 6]
[3, 7]
[2, 8]
[6, 4]
[8, 2]
[9, 1]
[7, 3]
[1, 9]

In [41]:
l = [4, 3, 2, 6, 8, 9, 7, 11, 1]
n = 10
s=set(l)
for x in l:
    if n-x in s:
        print((x,n-x))
        s.remove(x)
        s.remove(n-x)

(4, 6)
(3, 7)
(2, 8)
(9, 1)

In [48]:
set1 = {'Blue'}
set2 = {'Green', 'Yellow'}

s=set1|(set2)
print(s)

{'Yellow', 'Blue', 'Green'}

In [49]:
d={"apple":546,"nan":47}
print(d)

{'apple': 546, 'nan': 47}

In [61]:
d=[{"madhu",14},{"raju",47}]
print(dict(d))

{14: 'madhu', 'raju': 47}

In [69]:
d={7.8:"pp"}
d

{7.8: 'pp'}

In [76]:
d = {'Orange': 40, 'Mango': 30, 'Banana': 10, 'Peach': 20}
l=[]
for x,y in d.items():
    l.append(y)
print(sum(l))

100

In [81]:
words = ["Apple", "Orange", "Apple", "Banana", "Peach",  
          "Banana", "Apple", "Peach", "Apple", "Banana"]
from collections import Counter
ctr=Counter(words)
print(ctr)
print(max(ctr.items(),key=lambda x:x[1]))

Counter({'Apple': 4, 'Banana': 3, 'Peach': 2, 'Orange': 1})
('Apple', 4)

In [82]:
words = ["Apple", "Orange", "Apple", "Banana", "Peach",  
          "Banana", "Apple", "Peach", "Apple", "Banana"]
dict1={}
for x in words:
    if x not in dict1:
        dict1[x]=1
    else:
        dict1[x]+=1
print(dict1)

{'Apple': 4, 'Orange': 1, 'Banana': 3, 'Peach': 2}

In [83]:
trans = [(1237, 87522),
(1234, 1000),
(1236, 6754),
(1234, 200),
(1236, 1700),
(1234, 400),
(1234, 600),
(1236, 788),
(1234, 500),
(1237, 126653)
]
dict1=dict(trans)
print(dict1)

{1237: 126653, 1234: 500, 1236: 788}

In [94]:
x,y =(input()).split(",")
print((x))
print(y)

 2,6

2
6

In [99]:
l=[1,4,2,5]
n = int(input())
s=sum(l)
natural=(n*(n+1))//2
res=natural-s
print(res)

 5

3

In [137]:
votes = [
       'Kenny', 'Amanda', 'John', 'Vicky', 'Alex',
       'Amanda', 'John', 'Alex', 'Kenny', 'Vicky',
      ';Charles', 'Alex', 'Kenny', 'Eric', 'Charles',
       'Eric', 'Laura', 'Michelle', 'Eric', 'Vicky'
]
age = {'Kenny': 61,'Amanda': 54,'Alex': 79,'John': 80,'Vicky': 34,
'Eric': 50,
'Laura': 55,
'Michelle': 42,
'Charles': 70
}
from collections import Counter
ctr=Counter(votes)
top=[]
max_candidate=max(ctr.values())
for key,value in ctr.items():
    if value==max_candidate:
        top.append(key)
print(top)
result=max(top,key=lambda key:age[key])
print(result)

['Kenny', 'Vicky', 'Alex', 'Eric']
Alex

In [130]:
d={"app":3,"nam":2,"ram":3}
max_count = max(d.values())
max_keys = [key for key, value in d.items() if value == max_count]

print("Max count:", max_count)
print("Key(s) with max count:", max_keys)

Max count: 3
Key(s) with max count: ['app', 'ram']

In [132]:
d={"app":3,"nam":2,"ram":3}
l=[]
mx=max(d.values())
for x,y in d.items():
    if y==mx:
        l.append(x)
l

['app', 'ram']

In [120]:
s1="madhs"
s2="ahudm"
s=sorted(s1)
s3=sorted(s2)
if s==s3:
    print("anagram")
else:
    print("not")

not

In [6]:
n=int(input())

if n%2==0:
    print("even")
else:
    print("odd")

 4

even

In [2]:
n=int(input())
c=0
for i in range(1,n+1):
    if n%i==0:
        c+=1
if c==2:
    print("prime")
else:
    print("no")

 3

prime

In [20]:
def fact(n):
    if n==1 or n==0:
        return 1
    else:
        return n*fact(n-1)
n=int(input())
for i in range(0,n):
    print(fact(i))

 4

1
1
2
6

In [15]:
def fib(n):
    if n==0:
        return n
    elif n==1:
        return 1
    else:
        return fib(n-1)+fib(n-2)
n= int(input())
for i in range(0,n):
    print(fib(i))

 7

0
1
1
2
3
5
8

In [34]:
def add(x,y,z=1):
    return x+y+z
print(add(1,4,z=7))

12

In [47]:
def add1(*kwargs):
    for a,b in kwargs.items():
        print(a,":",b)
   

add1(a=12,b=26)

TypeError: add1() got an unexpected keyword argument 'a'

In [46]:
def add(**kwargs):
    for var, val in kwargs.items():
        print (var,'->', val)

add(a=20, b=30, c=40)

a -> 20
b -> 30
c -> 40

In [50]:
def add(**kwargs):
    for a,b in kwargs.items():
        print(a,":",b)
   

add(a=12,b=26)

a : 12
b : 26

In [53]:
def median(l):
    l1=len(l)
    s=sorted(l)
    mid=l1//2
    if l1%2!=0:
        return s[mid]
    else:
        return (s[mid-1]+s[mid])/2

l=[1,4,2,5,7,8]
print(median(l))

4.5

In [58]:
l1=[[14,6,7],[88,99],[877,6]]
import copy
s=copy.deepcopy(l1)
s[2][1]=147
print(l1)
print(s)

[[14, 6, 7], [88, 99], [877, 6]]
[[14, 6, 7], [88, 99], [877, 147]]

In [60]:
import copy 
l=[1,4,7,[34,56,7]]
s=copy.deepcopy(l)
s[3][0]=10000
print(l)
print(s)

[1, 4, 7, [34, 56, 7]]
[1, 4, 7, [10000, 56, 7]]

In [63]:
def checkOddEven(x):
    if x%2==0:
        return "Even"

    else:
        return "Odd"
x=int(input())
print(checkOddEven(x))

 7

Odd

In [ ]:
10 am - 7 pm  - 
8 am -5 pm    - AUG
3 pm -12 am   -

In [3]:
s="bc123d81gg1"
total=0
s1=""
for x in s:
    if x.isdigit():
        s1+=x
    else:
        if s1:
            total+=int(s1)
            s1=""
if s1:
    total+=int(s1)
print(total)

205

In [5]:
from math import sqrt,pow
from collections import Counter
from collections import defaultdict
from raandom import shuffle

s=sqrt(10)
print(s)
res=pow(2,4)
print(res)

3.1622776601683795
16.0

In [9]:
from random import shuffle
l=[1,4,424,56,78]
shuffle(l)
print(l)

[4, 78, 424, 1, 56]

In [12]:
l=[i for i in range(10) if i%2==0]
print(l)

[0, 2, 4, 6, 8]

In [17]:
l=(i for i in range(2))

0
1

In [21]:
l=[2,4,7,9]
s=(2,5,6,99)
res=zip(l,s)
print(list(res))

[(2, 2), (4, 5), (7, 6), (9, 99)]

In [22]:
f=lambda x,y:x+y
print(f(7,4))

11

In [28]:

key=lambda x,y:x+y
key(4,7)

11

In [31]:
def is_even(n):
    if n%2==0:
        return True
    else:
        return False

n = int(input())
if is_even(n):
    print(n,"is even")
else:
    print("no")

 45

no

In [37]:
def palindrome(n):
    temp=n
    rev=0
    while n>0:
        dig=n%10
        rev=rev*10+dig
        n=n//10
    if temp==rev:
        return True
    else:
        return False
n = int(input())
if palindrome(n):
    print("palindrome")
else:
    print("not a palindrome")

 231

not a palindrome

In [38]:
s="abcabc"
d={}
for x in s:
    if x not in d:
        d[x]=1
    else:
        d[x]+=1
d

{'a': 2, 'b': 2, 'c': 2}

In [50]:
class A(object):
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def add(self):
        print(self.x+self.y)
class B(A):
    def __init__(self,x,y,z):
        super().__init__(x,y)
        self.z=z
    def sub(self):
        print(self.z-self.x)
s=A(10,54)
s.add()
s1=B(10,17,4)
s1.sub()
s1.add()

64
-6
27

In [2]:
class A:
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def add(self):
        return self.x+self.y


    def sub(self):
        return self.y-self.x

class B(A):
    def __init__(self,x,y,z):
        super().__init__(x,y)
        self.z=z
    def mul(self):
        return self.x*self.y

s=A(10,4)
print(s.add())
s1=B(10,23,13)
print(s1.mul())

14
230

In [4]:
m = int(input())
n= int(input())
for i in range(m,n+1):
    if i>1:
        for x in range(2,i):
            if i%x==0:
                break
        else:
            print(i)

 10
 20

11
13
17
19